<li class="slide modal-xs">
    <div class="row">
                    <h3>{{qTitle}}</h3>

        <div class="col-lg-3">
            <img src="{{imagePath}}">
            
        </div>
        <div class="col-lg-9">
            {{qTeaser}}

        </div>

    </div>
<!--
    <div class="row">
        <div class="col-lg-6">
            <span class="label label-default">Autor</span>{{qAuthor}}
        </div>
        <div class="col-lg-6">
                        <span class="label label-default">Fragen</span>{{qQuest}}
        </div>
    </div>
-->
</li>