<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bab.la Refactor</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
            {{#each data}}
                <li class="{{#if active}}active{{/if}}">
                    
                    <a href='/#{{link}}'>

                        {{#if image}}<img src="/images/nav_images/{{image}}" style="width: 30px"> {{else}}<span class="glyphicon glyphicon-{{glyph}}"></span>{{/if}}
                        {{name}}</a>
                </li>
            {{/each}}
        </ul>

        <ul id="lang-choice" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{UI.language}}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {{#each uiLanguages}}
                        <li class="lang-choice-item {{#if active}}active{{/if}}">
                        <a data-lang="{{langCode}}" href="#">
                            <!--<img class="flag flag-{{countryCode}}" alt='' src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42‌​mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="> Error background-->
                            {{languageName}}</a></li>
                    {{/each}}
                </ul>
            </li>
        </ul>

    </div>
</nav>