<li class="slide vocab ">
    <div class="flip-container text-center">
        <div class="flip-div">
            <div class="front">
                <h3 id="asked-item">{{source}}</h3>

                <div class="controls">
                    {{{frontControls}}}
                </div>
            </div>
            <div class="back">
                <h3>{{target}}</h3>
                <small>{{G2}}</small>
                <h4>{{source}}</h4>
                <div class="controls">
                    {{{backControls}}}
                </div>
            </div>
        </div>
    </div>
</li>
